<h1>Estatísticas Gerais</h1>

<h1>Exemplo de gráfico de ACM</h1>

<div id="chart">
    <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [xaxis]="chartOptions.xaxis" [yaxis]="chartOptions.yaxis"></apx-chart>
</div>

<p>Imagens Placeholders do Kinsources e PUCK!!</p>
<p>Retirado de: https://www.kinsources.net/kidarep/dataset-177-familles-bretonnes-xve-xviie-siecles.xhtml</p>



<div class="docs-component-category-list">
    <a class="docs-component-category-list-item">
        <mat-card class="docs-component-category-list-card">
            <mat-card-title>Viés por genero</mat-card-title>
            <mat-card-content class="docs-component-category-list-card-summary">
                <img width="220px" src="https://www.kinsources.net/kidarep/dataset_graphic-/177/10767/Gender%20BIAS%20(weight).png">
            </mat-card-content>
        </mat-card>
    </a>
    <a class="docs-component-category-list-item">
        <mat-card class="docs-component-category-list-card">
            <mat-card-title>Generos por geração</mat-card-title>
            <mat-card-content class="docs-component-category-list-card-summary">
                <img width="220px" src="https://www.kinsources.net/kidarep/dataset_graphic-/177/10773/Ancestor%20Chains%20(degree=3).png">
            </mat-card-content>
        </mat-card>
    </a>
    <a class="docs-component-category-list-item">
        <mat-card class="docs-component-category-list-card">
            <mat-card-title>Generos</mat-card-title>
            <mat-card-content class="docs-component-category-list-card-summary">
                <img width="220px" src="https://www.kinsources.net/kidarep/dataset_graphic-/177/10775/Genders.png">
            </mat-card-content>
        </mat-card>
    </a>
</div>