<h1>Mapas</h1>
<p>Imagens Placeholders do OpenStreetMaps!!</p>

<div class="docs-component-category-list">
    <a class="docs-component-category-list-item">
        <mat-card class="docs-component-category-list-card">
            <mat-card-title>Mapa 1</mat-card-title>
            <a href="https://www.openstreetmap.org/#map=4/-25.48/-46.49" >
                <mat-card-content class="docs-component-category-list-card-summary">
                    <img width="220px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/69/OpenStreetMap_homepage_2018_en.png/1280px-OpenStreetMap_homepage_2018_en.png">
                </mat-card-content>
            </a>
        </mat-card>
    </a>
    <a class="docs-component-category-list-item">
        <mat-card class="docs-component-category-list-card">
            <mat-card-title>Mapa 2</mat-card-title>
            <a href='https://www.openstreetmap.org/#map=4/-25.48/-46.49' >
                <mat-card-content class="docs-component-category-list-card-summary" href="https://www.openstreetmap.org/#map=4/-25.48/-46.49">
                    <img width="220px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/69/OpenStreetMap_homepage_2018_en.png/1280px-OpenStreetMap_homepage_2018_en.png">
                </mat-card-content>
            </a>
        </mat-card>
    </a>
    <a class="docs-component-category-list-item">
        <mat-card class="docs-component-category-list-card">
            <mat-card-title>Mapa 3</mat-card-title>
            <a href="https://www.openstreetmap.org/#map=4/-25.48/-46.49" style="text-decoration: none; color: black;" >
                <mat-card-content class="docs-component-category-list-card-summary">
                    <img width="220px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/69/OpenStreetMap_homepage_2018_en.png/1280px-OpenStreetMap_homepage_2018_en.png">
                    Descrição de mapa 3
                </mat-card-content>
            </a>
        </mat-card>
    </a>
</div>

<app-map></app-map>
